<article (click)="cambiaMarcado()">
  <div class="row">
    <apuntan-avatar class="col-3" [senyor]="senyor"></apuntan-avatar>
    <div class="datos col-9">
      <h2>{{senyor.nombre}}</h2>
      <div>
        <label>Profesión:</label> {{senyor.profesion}}</div>
      <div>
        <label>Estado:</label> {{getEstado()}}</div>
      <div>
        <label>Twitter:</label> {{senyor.twitter}}</div>
    </div>
    <fa-icon [icon]="iconos.check" [class.visible]="senyor.marcado"></fa-icon>
  </div>
</article>
