<h1 class="col-12 text-center">Señores que te apuntan con el dedo</h1>
<p class="total col-12 text-center">{{nMarcados}} señores que te apuntan con el dedo marcados</p>
<apuntan-boton-marcar [todosMarcados]="todosMarcados()" (cualquiera)="toggleMarcados($event)"></apuntan-boton-marcar>
