<div class="container">
  <div class="row">
    <apuntan-cabecera></apuntan-cabecera>
    <apuntan-senyor class="col-8 col-offset-2" *ngFor="let senyor of senyores" [senyor]="senyor"></apuntan-senyor>
  </div>
</div>
