<div class="col-12 text-center marcar">
  <a *ngIf="!todosMarcados" href="#" class="btn btn-default" (click)="toggleMarcados($event)">Marcar todos</a>
  <a *ngIf="todosMarcados" href="#" class="btn btn-default" (click)="toggleMarcados($event)">Desmarcar todos</a>
</div>
