html, body {
  height: 100%;
  font-size: 12px;
}
.container {
  background-color: #C2E7DA;
  color: #000;
  /*padding: 40px 0;*/
  padding-top: 30px;
  min-height: 100%;
}
.container > .row {
  justify-content: center;
}
article {
  color: #000;
  background-color: #6290C3;
  position: relative;
  margin-bottom: 30px;
}
p {
  font-size: 2rem;
}
.marcar {
  margin-bottom: 30px;
}
h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.avatar {
  position: relative;
  padding-right: 30px;
  border-right: 2px dashed #fff;
}
.avatar.marcado img {
  transform: rotateY(180deg);
}
.datos {
  padding: 0 20px;
  font-size: 1.6rem;
}
.avatar img {
  transition: all 0.5s;
  border-radius: 50%;
  border: 1px solid #fff;
}
.avatar i {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #600;
  border-radius: 50%;
  right: 10px;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 32px;
}
label {
  display: inline-block;
  width: 100px;
}
h2 {
  margin-top: 0;
}
body {
  font-family: "Open Sans";
}
article {
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 20px;
}
fa-icon {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #060;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
fa-icon.visible {
  display: flex;
}

